<ngb-accordion [closeOthers]="true" activeIds="static-1">
  <ngb-panel id="static-1" title="Simple">
    <ng-template ngbPanelHeader>
      <div class="d-grid accordion-header">
        <button ngbPanelToggle class="btn btn-success">
          Filtros
        </button>
      </div>
    </ng-template>
    <ng-template ngbPanelContent>
      <form>
        <div>
          <div class="row">
            <div class="col-12 col-lg-4">
              <app-selector></app-selector>
            </div>
            <div class="col-12 col-lg-4">
              <app-selector></app-selector>
            </div>
            <div class="col-12 col-lg-4">
              <app-selector></app-selector>
            </div>
          </div>
        </div>
      </form>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
